html,
body 
    height: 100%
    padding: 0

.map-wrapper
    margin-right: 0
    padding-top: 31px

.videos-container
    width: 200px
    margin-left: 71vw
    padding-top: 15px

.map
    position: relative
    width: 70vw
    height: 60vw
    max-height: 700px

.map-fixed
    position: fixed 
    z-index: 50   

.coord
    margin-right: 30px

.radius-control
    position: absolute
    width: 30vw
    top: 0px
    z-index: 100
    margin-left: 5vw
    background-color: #ceeece8f
    padding: 5px

.select-location
    margin-right: 27vw
    margin-bottom: 3px
    button
        height: 25px
        font-size: 14px 
        margin-right: 1vw
    h6 
        padding-left: 6px  

.video-wrapper
    flex-wrap: wrap

.video-item
    border-top: 1px solid #aaaaaa 
    margin-bottom: 15px
    width: 100%
    padding: 0
    
    dd 
          word-break: break-all

    dt    
          word-break: break-all

    a 
          margin-left: 15px

    img
        height: fit-content     

@media (max-width: 910px), (orientation: portrait)
    .map
        width: 100vw

    .map-fixed
        position: fixed 

    .select-location
        margin-right: 0       

    .videos-container
        width: 100vw
        margin-left: 0
        margin-top: 60vw
        padding-top: 5px

    .video-item
        max-width: 200px
        padding: 0.7rem
        padding-right: 15px   
   

@media (max-width: 650px)
    .radius-control
        top: 50px